{% extends 'main/base-template.html' %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div role="main" class="col-12 px-4">
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Create an Account</h1>
        </div>

        <section>
        <div class="card col-3 p-4 mx-auto">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group container">
                        <div class="d-flex">
                            <label class="heading-semi-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% for error in field.errors %}
                                <span class="ml-auto text-danger">*{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div>{% render_field field class="form-control" %}</div>
                    </div>
                {% endfor %}
                <div class="form-group d-flex justify-content-center mt-5 mb-0">
                    <button class="btn btn-success" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        </section>
    </div>
{% endblock %}