{% extends 'main/base-template.html' %}

{% block body %}
    <div role="main" class="col-12 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Your Classes</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'main:list-class' %}">Add a Class</a>
                </div>
            </div>
        </div>
        {% if classes_list.count == 0 %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h4">Your class list is empty.</h1>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Time</th>
                        <th>Capacity</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in classes_list %}
                        <tr>
                            <td>{{ class.course.subject_area }} {{ class.course.catalog_num }}</td>
                            <td>{{ class.course }}</td>
                            <td>{{ class.section_code }}</td>
                            <td>{{ class.start_time }} - {{ class.end_time }}</td>
                            <td>{{ class.students.count }}/{{ class.max_cap }}</td>
                            <td>
                                <form action="{% url 'main:delete-class' class.id %}" class="my-0" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-danger" type="submit">Drop Class</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}